 <!-- Site footer -->
 <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>Addresse et contact</h6>
          <p class="text-justify">FOKAL - OPEN SOCIETY FOUNDATION HAITI
            143, Avenue Christophe BP 2720 HT 6112
            Port-au-Prince,Haïti | Tel : (509) 2813-1694</p>
           <p> <img src="/static/logos_3.png" alt="" width="250px" height="150px">
        </p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Menu</h6>
          <ul class="footer-links">
            <li><a href="https://www.fokal.org/index.php/fokalfr">Fokal</a></li>
            <li><a href="https://www.fokal.org/index.php/bmc">BMC</a></li>
            <li><a href="http://scanfcode.com/category/back-end-development/">Subventions</a></li>
            <li><a href="https://www.fokal.org/index.php/sub">Nouvèl Fokal</a></li>
            <li><a href="https://www.fokal.org/index.php/nous-contacter">Nous Conacter</a></li>
            
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Programmes</h6>
          <ul class="footer-links">
            <li><a href="https://www.fokal.org/index.php/programmes/parc-de-martissant">Parc de Martissaint</a></li>
            <li><a href="https://www.fokal.org/index.php/programmes/patrimoine">Patrimoine</a></li>
            <li><a href="https://www.fokal.org/index.php/programmes/media">Média</a></li>
            <li><a href="https://www.fokal.org/index.php/programmes/media-bibliotheque-education-citoyenne-ajulih-2">Bibliothèque</a></li>
            <li><a href="https://www.fokal.org/index.php/programmes/education-citoyenne-ajulih">Education Citoyenne(AJULIH)</a></li>
            <li><a href="https://www.fokal.org/index.php/programmes/initiatives-jeunes">Initiative Jeunes</a></li>
            <li><a href="https://www.fokal.org/index.php/programmes/art-et-culture">Art et culture</a></li>
            <li><a href=" https://www.fokal.org/index.php/programmes/universite-partenariat">Université Partenariat</a></li>
           
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
       <a href="https://www.fokal.org/">Fokal</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="https://www.facebook.com/nouvel.fokal/"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="https://www.instagram.com/fokalayiti/"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>