<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="https://www.fokal.org/"><img src="/static/logo_fokal_2015.png" alt="" width="50px" height="50px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
       
        <li class="nav-item">
          <a class="nav-link" href="/">Geolocalisation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/map">Carte Interactive <span class="sr-only">(current)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/questionnaire">Inscrivez vous sur la carte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home">Infos sur la cartographie</a>
        </li>
      </ul>
      
    </div>
  </nav>
  