{% extends 'layouts/default.html' %}
{% block body %}

<div class="jumbotron mt-4">
  <h3 class="display-4">Cartographie des professionnels de la culture en Haïti</h3>
   <hr class="my-4">
  <p></p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/questionnaire" role="button">plus d'infos</a>
  </p>
</div>
<div class="container-fluid">
 <h2>Introduction</h2>
 <p>
     <h4>De quoi s'agit-il ?</h4>
Ces dernières années, de multiples crises socio-politiques ont bloqué notre pays de façon récurrente, sur des périodes de plus en plus longues, fragilisant encore plus les professionnels de la culture. Début 2020, la pandémie du Coronavirus a donné un coup d'arrêt brutal à toute activité rémunératrice, pour une durée indéterminée à ce jour.
Dans ce contexte difficile, la Fondation Connaissance et Liberté – FOKAL – souhaite établir dans un premier temps une cartographie nationale du secteur culturel haïtien. Cette cartographie nous permettra par la suite de construire une plateforme d'information et d'échange qui rassemble toutes les données disponibles – informations, images, textes, vidéos, outils…, pour faire connaître les professionnels, les encourager à partager leurs projets, à chercher des partenaires, et donner une plus grande visibilité à leurs créations.
Afin de nous permettre de recueillir les informations nécessaires pour ce projet de cartographie, pouvez-vous remplir ce questionnaire ?
 </p>
<p>
    Dans ce contexte difficile, la Fondation Connaissance et Liberté – FOKAL – souhaite établir dans un premier temps une cartographie nationale du secteur culturel haïtien. Cette cartographie nous permettra par la suite de construire une plateforme d'information et d'échange qui rassemble toutes les données disponibles – informations, images, textes, vidéos, outils…, pour faire connaître les professionnels, les encourager à partager leurs projets, à chercher des partenaires, et donner une plus grande visibilité à leurs créations.
</p>
<p>
    <h4>Qui doit remplir ce formulaire ?</h4>
    <ul>
        <li>Individus, résidant en Haïti, pratiquant seuls ou membres de groupes du spectacle vivant (théâtre, slam, chant, musique, chorégraphie, performance, marionnettes, cirque, etc.) ;
        </li>
        <li>
            Artistes multimédia (audiovisuel, photo, arts numériques) ;
        </li>
        <li>
            Écrivains (poésie, roman, théâtre) ;
        </li>
        <li>
            Plasticien.n.e.s (peinture, sculpture, dessin, installations).
        </li>
    </ul>

</p>
<p>
    <h4>Si vous souhaitez participer au projet de cartographie, remplissez ce formulaire:</h4>
Notez qu'en remplissant le questionnaire, vous acceptez que les informations que vous fournissez soient rendues publiques dans le cadre de ce projet de cartographie.
Vous pouvez choisir de remplir la version française ou la version créole. Si vous ne répondez pas à une question, cela ne vous empêchera pas d'avoir accès aux questions suivantes.
</p>
<p>
 Contactez-nous :
 <ul>
     <li>E-mail: info@fokal.org</li>
     <li>Merci d'indiquer dans le sujet de l'email "questionnaire cartographie"</li>
 </ul>

</p>
</div>
{% endblock %}